<div *ngIf="movieDetail as movie" class="mx-4">
  <div *ngIf="movie.result as res">
    <div>
      <button
        (click)="backToMovies()"
        class="text-sm bg-sky-300 px-4 py-2 mx-4 hover:bg-sky-400 rounded-lg"
      >
        ALL MOVIES
      </button>
    </div>
    <div *ngIf="res.properties as property" class="text-center">
      <div class="character-name font-bold text-xl text-center mb-8">
        {{ property.title }}
      </div>

      <div class="text-gray-700 flex flex-col gap-1 py-3">
        <div class="flex flex-col border-b pb-2">
          <div class="sm:max-w-full">
            {{ property.opening_crawl }}
          </div>
        </div>

        <div class="flex justify-between items-center border-b pb-2">
          <div class="font-medium">Director</div>
          <div class="sm:max-w-full text-center">
            {{ property.director }}
          </div>
        </div>

        <div class="flex justify-between items-center border-b pb-2">
          <div class="font-medium">Producer</div>
          <div class="sm:max-w-full text-center">
            {{ property.producer }}
          </div>
        </div>

        <div class="flex justify-between items-center border-b pb-2">
          <div class="font-medium">Release Date</div>
          <div class="sm:max-w-full text-center">
            {{ property.release_date }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-1 items-center"
  >
    <div class="font-medium">Characters</div>
    <div
      *ngFor="let i of characters"
      class="bg-sky-300 mt-2 text-center py-2 rounded-3xl hover:bg-sky-200 hover:cursor-pointer"
    >
      <div *ngIf="movie[i] as char">
        <p class="text-xs" (click)="chacracterDetails(char.result.uid)">
          {{ char.result.properties.name }}
        </p>
      </div>
    </div>
  </div>
</div>
